body {
	font-family: sans-serif;
}

h1 {
	color: forestgreen;
}

.bar {
	fill: steelblue;
}

.allGoalsChart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  border-radius: 4px;
}

.priorityChart div {
	font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  border-radius: 4px;
}
.categoriesChart div {
	font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  border-radius: 4px;
}
