body {
	box-sizing: border-box;
}

h1 {
	color: forestgreen;
}

.bar {
	fill: steelblue;
}

.allGoalsChart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  border-radius: 4px;
}

.priorityChart div {
	font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  border-radius: 4px;
}
.categoriesChart div {
	font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  border-radius: 4px;
}

.goalbox {
  border: 3px solid #31627a ;
  margin: 4px;
  padding: 2px;
  border-radius: 4px;
  background-color: #CFD1D1;
}

.goaltitle {
  font-weight: bold;
  text-decoration: underline;
}

.goalDescription {
  font-style: italic;
  font-size: 10px;
}

.button-box {
  margin-left: 4px;
  margin-top: 8px;
}

.btn-box {
  margin-top: 5px;

}

.outerbox {
  background-color: #bbbbbb;
}

.navbar {
  background-color: #A7BDC4;
  margin: 2px;
  border-radius: 10px;
  border: 5px solid gray;
  padding: 5px;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
  margin-top: 25px;
}

.btn-custom {
  background-color: #31627a;
  border-color: #31627a;
  color: #fff;
}

.goal-form,
.chart-div {
  margin: 10px 0 0 19px;
}



